body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

header h1 {
    padding: 5px;
    display: flex; 
    align-items: center;
    justify-content: center;     
    color: white;
    font-size: 40px;
    margin-top: 0;
}
header p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;   
    

}
.boxheader{
    background-color: rgb(96, 7, 7);
    height: 150px; 

}
nav ul{
    background-color: rgb(107, 88, 53);
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
    display: flex;
    border: 2px solid rgb(96, 7, 7);
    justify-content:safe;

}
nav ul li { 
    display: flex;
    align-items: center;
    justify-content: center;                 
    border: 2px solid white;
    color: white;
    width: 150px;
    height: 30px;
}
nav a:hover {
    background-color: white;    
    color: darkred;
    
}
nav a {
    color: white;
    text-decoration: none; 
    font-weight: bold; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 30px;

}

