.histdiversas {
  display: flex;
  flex-direction: column;
  background-color: bisque;
}
#hist1 {
  display: flex;
  margin: 40px 0;
}
#histinf1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(68, 26, 1);
  color: white;
  font-size: 15px;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 30%;
  margin-left: 5%;
  padding: 15px;
}
#histinf1 h3 {
  font-family: "Alice", serif;
  margin-top: 10px;

  font-size: 35px;
}
#imginf1histo {
  width: 600px;
  height: 500px;
}
#hist2 {
  background-color: bisque;
  display: flex;
  padding: 15px;
}
#histinf2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: 15px;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 30%;
  margin-right: 5%;
  background-color: rgb(68, 26, 1);
  padding: 15px;
}
#textoinf2 h3 {
  font-family: "Alice", serif;
  margin-top: 10px;
  font-size: 40px;
}
#imginf2histo {
  margin-left: 300px;
  width: 500px;
}
